<h1>Welcome to the Cars Sim</h1>

<form action="car_sim" method="get">
  <input type="text" name="make" placeholder="Car Make"/>
  <input type="text" name="year" placeholder="Model Year"/>
  <input type="submit" value="Simulate Car"/>
</form>
<p> <%= @make %> </p>
<p> <%= @year %> </p>
