<h1>Status Page</h1>

<h2> Make: <%= @ashley_car.make %>  </h2>
<h2> Year: <%= @ashley_car.year %>  </h2>
<h2> Speed: <%= @ashley_car.speed %> Km/h </h2>

<form action="accelerate" method="get">
  <input type="submit" value="Accelerate"/>
</form>

<form action="brake" method="get">
<input type="submit" value="Brake!!"/>
</form>
